a.download:link, a:visited {
  background-color: #f44336 !important;
  color: white!important;
  padding: 14px 25px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
}

a.download:hover, a:active {
  background-color: red !important;
}
